# compiled output
**/dist
**/build
**/node_modules
**/.next
**/out
**/.pnp
**/.pnp.js
**/.yarn/install-state.gz

# Logs & Tests
**/logs
**/*.log
**/coverage

# IDE
**/.idea

# Locks and Envs
**/package-lock.json
**/pnpm-lock.yaml
**/yarn-lock.json
**/*.env

# misc
**/.DS_Store
**/*.pem

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# vercel
.vercel

# typescript
**/*.tsbuildinfo
**/next-env.d.ts